@helper UnixToDateString(double unixTime)
{
// Unix timestamp is seconds past epoch
System.DateTime dtDateTime = new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc);
dtDateTime = dtDateTime.AddSeconds(unixTime).ToLocalTime();
    @dtDateTime.ToShortDateString();
}

<div class="col-sm-offset-3 col-sm-6">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Date</td>
                <td>Temperature Info</td>
                <td>Summary</td>
                <td>Wind</td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.Days; i++)
            {
                <tr>
                    <td>@UnixToDateString(Model.list[i].dt)</td>
                    <td>
                        Min: @Model.list[i].temp.min&deg;<br />
                        Max: @Model.list[i].temp.max&deg;
                    </td>
                    <td>
                        <img src="@string.Format("http://openweathermap.org/img/w/{0}.png", @Model.list[i].weather[0].icon)" />
                        @Model.list[i].weather[0].main, @Model.list[i].weather[0].description
                    </td>
                    <td>@Model.list[i].speed m/s</td>
                </tr>
            }
        </tbody>
    </table>
</div>